.home-page-banner {
  height: 100vh;
  width: 100%;
  background-image: url('baby.jpg');
  background-size: cover;
  z-index: -1;
  display: flex;
  color: white;


  h1 {
    font-size: 75px;
    font-weight: 600;
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100vh;
  }

  .right {
    width: 55%;
    height: 100vh;
  }

  .header a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 17px;
    padding: 18px 40px;
    font-weight: 500;

    &:hover {
        background-color: #F2F4F7;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  text-align: center;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;

    h1 {
      font-size: 60px;
    }

    p {
      font-weight: 500;
    }
  }

  .pic {
    height: 800px;
    width: 1300px;
    background-image: url('albums.jpg');
    background-size: cover;
    margin-top: 70px;
  }
}
