<div class="home-page-banner">
  <div class="left">
    <div class="header">
      <h1>Um álbum <br>feito à sua medida.</h1>
      <br>
      <%= link_to "COMECE AGORA" %>
    </div>
  </div>
  <div class="right">

  </div>
</div>
<div class="description">
  <div class="text">
    <h1>Crie um álbum <br> profissional agora <br>mesmo.</h1>
    <p>Crie um álbum que dê vida às suas ideias. Escolha o tamanho e
    personalize-o para atender às suas necessidades, guarde estes momentos
    para sempre.</p>
  </div>
  <div class="pic">
  </div>
</div>
<div class="tabs">
  <div class="left">
    <p>O MagicBook dá asas á sua imaginação</p>
    <div class="categories">
      <% @categories.each do |category| %>
        <div class="category"><%= category.name %></div>
      <% end %>
    </div>
  </div>
  <div class="right">
    <div class="albums">

    </div>
  </div>
</div>
