<div class="home-page-container">
  <div class="left">
    <div class="header">
      <h1>Um album <br>feito รก sua medida.</h1>
      <br>
      <%= link_to "COMECE AGORA" %>
    </div>
  </div>
  <div class="right">

  </div>
</div>

<p>heyy</p>
